body {
    font-size: 20px;
    color: lightblue;
    background-image: url("background.jpg");
    background-size: 100% 100%;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
}

#gameboard {
    width: 460px;
    height: 460px;
    margin: auto;
    margin-bottom: 40px;
}

.cell {
    width: 150px;
    height: 150px;
    font-size: 80px;
    display: inline-block;
    float: left;
}

#\30,
#\31,
#\33,
#\34 {
    border-right: lightblue solid 3px;
    border-bottom: lightblue solid 3px;
}

#\36,
#\37 {
    border-right: lightblue solid 3px;
}

#\32,
#\35 {
    border-bottom: lightblue solid 3px;
}

.scoreboard {
    width: 460px;
    height: 90px;
    margin-top: 33px;
    text-align: center;
    margin: 0 auto;
}

#playerX,
#tie {
    border-right: solid transparent 3px;
    width: 150px;
    float: left;
}

#scoreX,
#scoreT,
#scoreO {
    font-size: 45px;
}

#playerO {
    width: 150px;
    float: left;
}

#control {
    width: 340px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

#newGame,
#playAgain {
    width: 170px;
    height: 50px;
    float: left;
    font-size: 23px;
    text-align: center;
}

#gameInfo {
    text-align: center;
    font-size: 40px;
}
